# ------------------------
# Ignorar carpetas del sistema
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Ignorar entornos virtuales
# ------------------------
.venv/
env/
venv/

# ------------------------
# Ignorar archivos de configuración personales
# ------------------------
*.env
*.log

# ------------------------
# Ignorar Jupyter checkpoints
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Ignorar outputs temporales
# ------------------------
*.pyc
__pycache__/

# ------------------------
# Ignorar modelos y pesos
# ------------------------
*.pkl
*.joblib
*.h5
*.onnx
*.pt

# ------------------------
# Ignorar datasets pesados por defecto
# ------------------------
data/*
!data/raw/
!data/raw/diseño de registro.xlsx
!data/raw/dataset_eph_tdf.xlsx
!data/processed/
!data/processed/dataset_eph_tdf_procesado.xlsx

# ------------------------
# Ignorar archivos multimedia
# ------------------------
*.mp4
*.mov
*.avi
*.wav
*.flac
